body, html {
    margin: 0;
    padding: 2px;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    background-color: bisque;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centered-outline {
    text-align: center;
    outline: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size:400%;
    margin: 1%;
}

.grid-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
}

.grey-square{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 2px solid black;
}

.alphabet{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grey-square-small{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.no-select{
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: default;
}

.user-input{
    display: flex;
    align-items: center;
    gap: 5%;
}

.input-box{
    margin-top: 1%;
    flex: 1;
    padding: 1%;
    font-size: 32px;
    box-sizing: border-box;
}

#enter{
    padding: 1% 2%;
    font-size: 32px;
    cursor: pointer;
    border: none;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 4px;
}