<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wordle</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body>
        <h1 class="centred-outline">WORDLE</h1>

        <div class="grid-wrapper">
            <div class="grid">
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>

                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>

                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>

                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>

                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>

                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
                <div class="grey-square"></div>
            </div>
        </div>

        <div class="alphabet">
            <div class="grey-square-small">A</div>
            <div class="grey-square-small">B</div>
            <div class="grey-square-small">C</div>
            <div class="grey-square-small">D</div>
            <div class="grey-square-small">E</div>
            <div class="grey-square-small">F</div>
            <div class="grey-square-small">G</div>
            <div class="grey-square-small">H</div>
            <div class="grey-square-small">I</div>
            <div class="grey-square-small">J</div>
            <div class="grey-square-small">K</div>
            <div class="grey-square-small">L</div>
            <div class="grey-square-small">M</div>
            <div class="grey-square-small">N</div>
            <div class="grey-square-small">O</div>
            <div class="grey-square-small">P</div>
            <div class="grey-square-small">Q</div>
            <div class="grey-square-small">R</div>
            <div class="grey-square-small">S</div>
            <div class="grey-square-small">T</div>
            <div class="grey-square-small">U</div>
            <div class="grey-square-small">V</div>
            <div class="grey-square-small">W</div>
            <div class="grey-square-small">X</div>
            <div class="grey-square-small">Y</div>
            <div class="grey-square-small">Z</div>


        </div>

    </body>
</html>